---
ExtraArgs: []
HeaderFileExtensions:
  - h
HeaderFilterRegex: "./include/*"
ImplementationFileExtensions:
  - c
FormatStyle: file
Checks: "-*,\
  bugprone-*,\
  -bugprone-easily-swappable-parameters, \
  -bugprone-implicit-widening-of-multiplication-result, \
  cert-*,\
  -cert-err34-c, \
  clang-analyzer-*,\
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,\
  -clang-analyzer-security.insecureAPI.strcpy, \
  concurrency-*,\
  linuxkernel-*,\
  llvm-*,\
  misc-*,\
  -misc-no-recursion, \
  modernize-*,\
  -modernize-use-trailing-return-type, \
  -modernize-use-using, \
  performance-*,\
  portability-*,\
  readability-*, \
  -readability-identifier-length"
